$primary-color: #cddc39; 
$orange: #F67611;

@import "material/materialize"; 
@import "material/icons";


body
	background: #eee
.brand-logo
	img
		box-shadow: 0 0 8px 0px #777
.slider
	height: 700px !important
	.slides
		height: 700px !important
.materialboxed
	height: 155px
	margin: 0 auto 15px
	position: relative
	display: block
	background-color: #F67611
.carousel-item
	width: 700px !important
.padding-top
	padding-top: 70px
.padding-bottom
	padding-bottom: 70px
.page-footer
	margin-top: 0 !important

@media screen and (max-width: 768px)
	.slider
		height: 400px !important
		.slides
			height: 400px !important
  .carousel-item
		width: 250px !important

